In [1]:
# 필요한 라이브러리 설치
!pip3 install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     |████████████████████████████████| 44 kB 989 kB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 21.2.3; however, version 24.0 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

In [7]:
from kafka import KafkaProducer, KafkaConsumer
import json
import pymysql

In [10]:
topic = 'kafka_sql'

def create_producer(bootstrap_servers = 'localhost:9092', value_serializer = lambda x : json.dumps(x).encode("utf-8")):
    producer = KafkaProducer(bootstrap_servers=bootstrap_servers, value_serializer = value_serializer)
    #쿼리를 만들어서 토픽에 실어서 보낸다
    sql = []
    sql.append('''
        create table tbl_kafka_data(
            name varchar(10),
            email varchar(50),
            phone varchar(50)
        );'''
        )
    sql.append("insert into tbl_kafka_data values('lee', 'lee@gmail.com','010-0000-0000');")
    sql.append("insert into tbl_kafka_data values('hong', 'hong@gmail.com','010-0001-0000');")
    sql.append("insert into tbl_kafka_data values('kang', 'kang@gmail.com','010-0002-0000');")
    for data in sql:
        producer.send(topic,value=data)
        producer.flush()

In [11]:
#mysql connect
mysql_con = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'password',auto_offset_reset='earliest',
    db = 'hadoopguide',
    charset = 'utf8'
)

#데이터 베이스의 쿼리를 실행하기 위한 커서
cursor = mysql_con.cursor()

for message in consumer:
    sql = message.value
    cursor.excute(sql) #카프카의 메시지를 컨슈머가 sql에 넣음

mysql_con.commit()
mysql_con.close()

AttributeError: 'NoneType' object has no attribute 'encoding'

In [ ]:
def create_consumer(topics, bootstrap_servers='localhost:9092', auto_offset_reset='earliest', value_deserializer=lambda x: json.loads(x.decode('utf-8')), =consumer_timeout) = 1000):
    consumer = KafkaConsumer(topic, bootstrap_servers=bootstrap_servers, auto_offset_reset=auto_offset_reset, value_deserializer=value_deserializer,consumer_timeout=consumer_timeout)
    #mysql connect
    mysql_con = pymysql.connect(
        host = 'localhost',
        user = 'root',
        password = 'password',auto_offset_reset='earliest',
        db = 'hadoopguide',
        charset = 'utf8'
    )
    
    #데이터 베이스의 쿼리를 실행하기 위한 커서
    cursor = mysql_con.cursor()
    
    for message in consumer:
        sql = message.value
        cursor.excute(sql) #카프카의 메시지를 컨슈머가 sql에 넣음
    
    mysql_con.commit()
    mysql_con.close()